* {margin: 0; padding: 0;}

body {font-family: Arial;}

.tabs {
	margin: 0 auto;
	max-width: 600px;
}

.tabs-list {text-align: center;}
.tabs-item {display: inline-block;}
.tabs-link {
	color: darkblue;
	text-decoration: none;
}
.tabs-link:hover {color: blue;}

.js [role="tabpanel"][aria-hidden="true"] {display: none;}